* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

@font-face {
    font-family: 'Outfit';
    src: url(/Outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Young Serif';
    src: url(/Young_Serif/YoungSerif-Regular.ttf);
}

:root {
    --White: hsl(0, 0%, 100%);

   --Stone100: hsl(30, 54%, 90%);
   --Stone150: hsl(30, 18%, 87%);
   --Stone600: hsl(30, 10%, 34%);
   --Stone900: hsl(24, 5%, 18%);

   --Brown800: hsl(14, 45%, 36%);

   --Rose800: hsl(332, 51%, 32%);
   --Rose50: hsl(330, 100%, 98%);

}

body {
    /* height: 100%; */
    display: grid;
    place-items: center;
    background: var(--Stone100);
    padding: 80px 0px;
    color: var(--Stone600);
}

.section-title {
    color: var(--Brown800);
    font-family: "Young Serif";
    font-size: 25px;   
}

.seperator {
    width: 100%;
    height: 0.7px;
    background: var(--Stone150);
    align-self: center;
}


#main-card {
    background: var(--White);
    width: 600px;
    max-width: 90%;
    height: 1400px;
    padding: 30px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


#omelette-image {
    width: 100%;
    border-radius: 12px;
}

/* the first section: title */
section.title {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.title span.title {
    color: #000;
    font-family: 'Young Serif';
    font-size: 25px;
}


section.preparation-time {
    background: var(--Rose50);
    border-radius: 16px;
    height: 140px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.preparation-time-span {
    color: var(--Rose800);
    font-weight: 700;
}

section.preparation-time ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 20px
}

section.preparation-time ul li {
    padding-inline-start: 15px;
    font-size: 12px;
}

section.preparation-time ul li::marker {
    font-size: 9px;
}


/* the second section: ingredients */
section.ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px
}

section.ingredients ul {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

section.ingredients ul li {
    font-size: 12px;
    padding-inline-start: 14px;
}

section.ingredients ul li::marker {
    font-size: 9px;
}



/* the third section: instructions */
section.instructions {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

section.instructions ol {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

section.instructions ol li {
    line-height: 20px;
    padding-inline-start: 14px;
}

section.instructions ol li::marker {
    color: var(--Brown800);
    font-weight: 700;
}


/* the fourth section: nutrition */
section.nutrition {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.nutrition-description {
    font-size: 13px;
}

.facts-label {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
}


section.nutrition .flex-container {
    border: 2px solid orange;
    width: 50%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    /* padding: 0 50px; */
    /* gap: 200px; */
    /* padding-left: 23px; */
    /* font-size: 15px; */
}


span.amount {
    color: var(--Brown800);
    font-weight: 600;
    font-size: 16px;
}


div.attribution {
    position: relative;
    top: 50px;
}
