* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

@font-face {
    font-family: 'Outfit';
    src: url(/Outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Young Serif';
    src: url(/Young_Serif/YoungSerif-Regular.ttf);
}

:root {
    --White: hsl(0, 0%, 100%);

   --Stone100: hsl(30, 54%, 90%);
   --Stone150: hsl(30, 18%, 87%);
   --Stone600: hsl(30, 10%, 34%);
   --Stone900: hsl(24, 5%, 18%);

   --Brown800: hsl(14, 45%, 36%);

   --Rose800: hsl(332, 51%, 32%);
   --Rose50: hsl(330, 100%, 98%);

}

body {
    /* height: 100%; */
    display: grid;
    place-items: center;
    background: var(--Stone100);
    padding: 80px 0px;
}


#main-card {
    background: var(--White);
    width: 600px;
    max-width: 90%;
    height: 1400px;
    /* max-height: fit-content; */
    padding: 30px;
    /* position: absolute; */
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    /* align-items: center; */
}


#omelette-image {
    width: 100%;
    border-radius: 12px;
}

section.title {
    /* border: 2px solid red; */
    height: 90px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.title span.title {
    color: #000;
    font-family: 'Young Serif';
    font-size: 25px;
    margin-bottom: 15px;
}


section.preparation-time {
    background: var(--Rose50);
    border-radius: 16px;
    height: 150px;
    padding: 25px 0 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

span, li {
    color: var(--Stone600)
}

.preparation-time-span {
    color: var(--Rose800);
    font-weight: 700;
}

section.preparation-time ul {
    list-style-position: inside;
    font-size: 14px;
    /* border: 2px solid blue; */
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.preparation-time span {
    font-size: 16px;
    position: relative;
    top: 1px;
}

.highlighted {
    font-weight: 600;
    /* font-size: 20px; */
}

section.preparation-time ul li {
    font-size: 10px;
}


.section-title {
    color: var(--Brown800);
    font-family: "Young Serif";
    font-size: 25px;
    
}

section.ingredients {
    /* border: 2px solid red; */
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.ingredients ul {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-position: inside;
    /* border: 2px solid blue; */
}

section.ingredients ul li span {
    padding-left: 15px;
    font-size: 16px;
    position: relative;
    top: 1px;
}

section.ingredients ul li {
    font-size: 10px;
}

.seperator {
    width: 100%;
    height: 0.7px;
    background: var(--Stone150);
    align-self: center;
    /* margin: 20px */
}




section.instructions ol {
    list-style-position: inside;
    margin-top: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
}

section.instructions ol li span {
    font-weight: 600;
    padding-left: 10px;
}

section.instructions ol li::marker {
    color: var(--Brown800);
    font-weight: 700;
}

section.nutrition {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    position: relative;
    /* top: -10px; */
}


.facts-label {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.nutrition-description {
    font-size: 14px;
}

section.nutrition .flex {
    /* border: 2px solid orange; */
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    font-size: 15px;
}


span.amount {
    color: var(--Brown800);
    font-weight: 600;
    font-size: 16px;
}


div.attribution {
    position: relative;
    top: 50px;
}
